    <section class="bg-gray-100 border-b py-8">
      <div class="container max-w-5xl mx-auto m-8">
        <!--
        <h2
          class="w-full my-2 text-5xl font-black leading-tight text-center text-gray-800"
        >
          Benefits
        </h2>
        <div class="w-full mb-4">
          <div
            class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
          ></div>
        </div>
        -->

        <div class="flex flex-wrap">
          <div class="w-5/6 sm:w-1/2 p-6">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
              Automatic uploads
            </h3>
            <p class="text-gray-600 mb-8">
              Every time you save a project Syncbot will automatically push your changes into the cloud.
            </p>
            <p class="text-gray-600 mb-8">
              Your collaborators will have instant access to every change you make.
            </p>
          </div>
          <div class="w-full sm:w-1/2 p-6">
            <%= image_tag 'automatic-uploads.png', class: 'w-full mx-auto border border-gray-300 border-solid rounded-lg' %>
          </div>
        </div>

        <div class="flex flex-wrap flex-col-reverse sm:flex-row">
          <div class="w-full sm:w-1/2 p-6 mt-6">
            <%= image_tag 'team-based.png', class: 'w-full mx-auto border border-gray-300 border-solid rounded-lg' %>
          </div>
          <div class="w-full sm:w-1/2 p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
                Team based collaboration
              </h3>
              <p class="text-gray-600 mb-8">
                Teams make it easy to share your projects with your collaborators.
                Anybody who starts a new project can share it with the entire time in one click.
              </p>
            </div>
          </div>
        </div>

        <div class="flex flex-wrap">
          <div class="w-5/6 sm:w-1/2 p-6">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
              Travel back in time
            </h3>
            <p class="text-gray-600 mb-8">
              Never worry about messing up a session because you wanted to try an experiment.
              Feel free to mess around.
              You can always go back to any version you'd like.
            </p>
          </div>
          <div class="w-full sm:w-1/2 p-6">
            <%= image_tag 'versions.png', class: 'w-full mx-auto border border-gray-300 border-solid rounded-lg' %>
          </div>
        </div>

        <div class="flex flex-wrap flex-col-reverse sm:flex-row">
          <div class="w-full sm:w-1/2 p-6 mt-6">
            <%= image_tag 'add-description.png', class: 'w-full mx-auto border border-gray-300 border-solid rounded-lg' %>
          </div>
          <div class="w-full sm:w-1/2 p-6 mt-6">
            <div class="align-middle">
              <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">
                Describe your changes
              </h3>
              <p class="text-gray-600 mb-8">
                Whenever you upload a new version you can add a short comment to let other team members know what you've done.
                This makes it easy to find particular versions.
              </p>
            </div>
          </div>
      </div>
    </section>


