---
title: Welcome to Syncbot
layout: home_layout
---

<div class="prose">
  <h1>
    Welcome to Syncbot
  </h1>

  <p>
    Syncbot is a desktop application for MacOS for collaborating on Logic Pro X &amp; Ableton Live sessions.
  </p>


  <div class="flex no-prose">
    <%= image_tag 'logic-pro-x.png', class: 'h-24 w-24 mr-12' %>
    <%= image_tag 'ableton-live.png', class: 'h-24 w-24' %>
  </div>


</div>


  <%= partial 'download-button' %>


