---
title: Welcome to Syncbot
---
<div class="prose">
  <h1>
    Welcome to Syncbot
  </h1>

  <p>
    Syncbot is a desktop application for MacOS for collaborating on Logic Pro X &amp; Ableton Live sessions.
  </p>
</div>


